[submodule "integrations/langgraph"]
	path = integrations/langgraph
	url = git@github.com:langchain-ai/langgraph.git
[submodule "integrations/mem0"]
	path = integrations/mem0
	url = git@github.com:mem0ai/mem0.git
[submodule "integrations/openhands"]
	path = integrations/openhands
	url = git@github.com:OpenHands/OpenHands.git